.header:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid;
    opacity: .2;
}

.header:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    opacity: .2;
    background: black;
    z-index: -1;
}


.header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
}

.headerContainer {
    width: 1280px;
    justify-content: space-between;
    display: flex;
    margin: auto;
}

.leftContainer {
    display: flex;
    justify-content: flex-start;
}

.rightContainer {
    display: flex;
    justify-content: flex-end;
}

.leftContainer li,.rightContainer li {
    padding: 35px 15px;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
}

.li:before {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    z-index: 1;
    border-bottom: 2px solid transparent;
    transition: boder-color .2s ease-out,left .2s ease-out,right .2s ease-out;
}

.liActive:before {
    border-bottom-color: #fff;
}

.logoContainer {
    position: absolute;
    width: 100%;
}

.logoContainer div {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    left: 50%;
    height: 89px;
    transform: translateX(-50%);
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    width: 250px;
    background: white;
    cursor: pointer;
}

.logoContainer span {
    height: 100px;
    background-image: var(--bg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    width: 100%;
}

.album {display: none}
@media (max-width: 1100px) {
    .logoContainer div {
        width: 107px;
        height: 50px;
    }
    .logoContainer span {
        height: 57px;
    }
    .header:after {
        height: 50px;
    }
    .leftContainer, .rightContainer {
        display: none;
    }

    .headerContainer {
        justify-content: flex-end;
    }
    .album {
        background-image: url(./icon.png);
        background-size: 50%;
        opacity: 0.8;
        display: block;
        cursor: pointer;
        background-position: center;
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
    }
}

.logoContainer div:before {
    content: ' ';
    display: block;
    background: white;
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -11px;
    transform: skew(15deg);
    border-bottom-left-radius: 11px;
    z-index: -1;
}
.logoContainer div:after {
    content: ' ';
    display: block;
    background: white;
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -11px;
    transform: skew(-15deg);
    border-bottom-right-radius: 11px;
    z-index: -1;
}

