.test {
    height: 100vh;
    width: 100vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--background);
}

@supports (-webkit-touch-callout: none) {
    .test {
        background-attachment: initial;
    }
}

.data {
    background: #0005;
    position: absolute;
}

.data>div {
    position: absolute;
    top: 50%;
    width: 80%;
    transform: translateY(-50%);
}
.data.top {
    top: 0;
    width: 100%;
    height: 40%;
}

.data.bottom {
    bottom: 0;
    width: 100%;
    height: 40%;
}

.data.middle {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 40%;
}

@media (max-width: 1100px) {
    .data.center,.data.left,.data.right {
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 40%;
    }
    .data .title,.data .description {
        text-align: center;
    }

    .data>div {
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

@media (min-width: 1101px) {
    .data.center {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 50%;
        height: 40%;
    }

    .data.left {
        left: 0;
        height: 100%;
        width: 50%;
    }

    .data.left>div {
        right: 10%;
    }

    .data.right>div {
        left: 10%;
    }

    .data.right {
        right: 0;
        height: 100%;
        width: 50%;
    }
}

.data.top.firstFold {
    margin-top: 88px;
    height: 37%;
}
@media (max-width: 1100px) {
    .data.top.firstFold {
        margin-top: 50px;
    }
}
.data.center>div,.data.middle>div, .data.top>div, .data.bottom>div {
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.title {
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 300;
    color: #fff9;
}

.description {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #fff9;
}

.center .title,.center .description, .middle .title,.middle .description, .top .title,.top .description, .bottom .title,.bottom .description {
    text-align: center;
}



@media (min-width: 1101px) {
    .left .title, .left .description {
        text-align: right;
    }

    .right .title, .right .description {
        text-align: left;
    }
}