.container {
    padding: 120px;
    background-color: #1e071d;

}

.container>div {
    width: 1200px;
    margin: 0 auto;
}

.title {
    background-clip: text;
    -webkit-background-clip: text !important;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    opacity: .6;
    font-size: 85px;
    font-weight: 800;
    line-height: 85px;
    background: linear-gradient(180deg,#f7ffff -146.08%,rgba(247,255,255,.25));
    margin-bottom: 60px;
}

.title b {
    font-size: 80px;
}

.imgContainer {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    height: 385px;
    background-image: var(--background);
    background-position: 50% 40%;
    background-size: cover;
}

.textContainer {
    width: calc(55% - 40px);
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    padding: 44px 44px 52px 40px;
    border-radius: 22px;
    position: relative;
    height: 375px;
    border: 1px solid transparent;
    box-shadow: inset 0 13.8675px 27.735px 27.735px rgba(0,0,0,.1);
    background: linear-gradient(344.58deg,#37123666 33.92%,#42274166 87.18%);
}
.textContainer:before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5px;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    display: block;
    -webkit-mask-composite: xor;
    content: ' ';
    mask-composite: exclude;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
    background: linear-gradient(162.69deg,#f953a3 -39.9%,hsla(0,0%,100%,0) 62.49%);
}

.content {
    font-size: 14px;
    line-height: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    text-align: justify;
}
@media (max-width: 1100px) {
    .container {
        padding: 60px 20px;
    }
    .container>div {
        width: initial;
    }

    .title {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 40px;
    }

    .imgContainer {
        width: initial;
        display: block;
        height: 200px;
    }

    .textContainer {
        width: initial;
        display: block;
        margin-left: 0;
        margin-top: 30px;
        height: 400px;
    }
}






.review {
    min-height: 375px;
    position: relative;
    padding-top: 20px;
}

.textContainer:after {
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: -25px;
    right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 70px;
    content: ' ';

    background-image: url(./testimonials-bg.svg);
}
.name {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 21px;
}
.rating {
    background: hsla(0,0%,100%,.1);
    display: inline-block;
    margin: 10px 0 15px;
    padding: 12px;
    border-radius: 20px;
}
.rating>div {
    background-size: 14px 11.4px;
    height: 11.4px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon fill='%23fdd663' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
    background-repeat: repeat-x;
    display: block;
    width: 68px;


}

