

.carousel {
    position: relative;
}

.carouselInner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carouselItem {
    position: absolute;
    opacity: 0.5;
    top: 0;
    transform: translateX(-100%);
    transition: transform .5s,opacity .3s;
}

.carouselItemActive {
    position: static;
    transform: none;
    opacity: 1;
}

.carouselItemActive ~ .carouselItem {
    transform: translateX(100%);
}

.carouselItem img,.carouselItem video {
    display: block;
    height: auto;
    max-width: 100%;
}

.carouselControl {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    fill: #fff;
    opacity: 0.5;
    transition: scale .3s, opacity .3s;
}

.carouselControlPrev {
    left: 2%;
    transform: rotate(-180deg);
}

.carouselControlNext {
    right: 2%;
}

.carouselControl:hover {
    transform: scale(120%);
}

.carouselControlPrev.carouselControl:hover {
    transform: rotate(-180deg) scale(120%);
}

.carouselControlActive {
    display: block;
    opacity: 1;
}

.carouselIndicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carouselIndicators li {
    display: inline-block;
    margin: 0 5px;
}

.carouselBullet {
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carouselBullet:hover {
    opacity: 1;
}

.carouselBulletActive {
    opacity: 1;
}

.btns {
    margin: 20px auto;
    display: block;
}

.carouselBtns {
    border-radius: 6px;
    padding: 6px;
    background: #444444;
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-image: var(--bg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 4px;
}

.legendContainer {
    width: 80vw;
    height: 100px;
    overflow: hidden;
    position: relative;
    overflow-x: auto;
    margin: 20px auto;
}
.cont {
    position: absolute;
    left: 0;
    top: 0;
    height: 105px;
    white-space: nowrap;

}
.legend {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.legend>div {
    min-width: 285px;
    width: 285px;
    min-height: 105px;
    background-position: right;
    display: inline-block;
    border: 3px solid transparent;
}

.active.legend>div {
    border: 3px solid #444444;
}