.container {
    padding: 120px;

}

.container>div {
    width: 1200px;
    margin: 0 auto;
}

.title {
    background-clip: text;
    -webkit-background-clip: text !important;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    line-height: 70px;
    background: linear-gradient(145.76deg,#fff 4.23%,#63f3fc 35.58%,#f48d0c 73.62%,#fed775 105.63%);
    margin-bottom: 60px;
}

.title b {
    font-size: 80px;
}

.logos {
    display: flex;
    justify-content: center;
}

.logos div {
    width: 200px;
    height: 250px;
    margin: 0 10px;
    background-size: contain;
    background-position: center;
    background-image: var(--bg);
    background-repeat: no-repeat;
}