.container {
    padding: 120px;

}

.container>div {
    width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1100px) {
    .container {
        padding: 40px 20px 0;
    }

    .container>div {
        width: initial;
    }
}

.title {
    background-clip: text;
    -webkit-background-clip: text !important;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    line-height: 70px;
    /*background: linear-gradient(145.76deg,#fff 4.23%,#63f3fc 35.58%,#f48d0c 73.62%,#fed775 105.63%);*/
    background: linear-gradient(116.41deg,#000000 -67.02%,#8c172e 23.01%,#a21bb7 155.41%,#9b0938 311.85%);
    margin-bottom: 60px;
}

.title b {
    font-size: 80px;
}


.logos div {
    width: 200px;
    height: 250px;
    margin: 0 10px;
    background-size: contain;
    background-position: center;
    background-image: var(--bg);
    background-repeat: no-repeat;
}

@media (max-width: 1100px) {
    .logos div {
        display: inline-block;
        vertical-align: middle;
        width: calc(33.333% - 10px);
        height: 150px;
        margin: 0 15px 15px 0;
    }
    .logos div:nth-child(3n) {
        margin-right: 0;
    }
    .title {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .title b {
        font-size: 70px;
    }
}
@media (min-width: 1101px) {
    .logos {
        display: flex;
        justify-content: center;
    }


}
