.container {
    height: 100vh;
    text-align: center;
    padding: 40px;
}

.container:before {
    content: ' ';
    background-image: var(--bg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 175px;
    height: 50px;
}

.title {
    font-size: 30px;
    margin: 0 auto 40px;
}

.container.close>label {
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 20px;
    width: 175px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .container {
        padding: 20px;
    }
    .title {
        margin-bottom: 20px;
    }
    .container.close > label {
        top: 15px;
    }
    .container:before {
        top: 13px;
    }
}

.container:not(.landscape):before {
    left: 0;
    width: 154px;
    height: 40px;
}

.container:not(.landscape) .title {
    font-size: 22px;
    margin: 60px auto 40px;
}
.container:not(.landscape)>label {
    width: 60px;
    font-size: 14px;
}

@media (max-width: 1100px) {
    .container.landscape .title {
        font-size: 16px;
        margin-bottom: 12px;

    }

    .container.landscape.close > label {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        width: initial;
    }
    .container.landscape:before {
        width: 93px;
        height: 30px;
    }
}

.music {
    width: 20px;
    height: 20px;
    background-position: 0 0;
    cursor: pointer;
    background: var(--bg);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: 20px;
}

.music audio {
    display: none;
}

.music.play {
    background-position: 0 0;
}


@media (min-width: 1100px) {
    .music.play:hover {
        background-position: 0 20px;
    }

    .music.pause:hover {
        background-position: 0 0;
    }
}

.music.pause {
    background-position: 0 20px;
}

