.container {
    height: 100vh;
    text-align: center;
    padding: 40px;
}

.container:before {
    content: ' ';
    background-image: url(./shine_logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 175px;
    height: 50px;
}
.title {
    font-size: 30px;
    margin: 0 auto 40px;
}

.image {
    background-image: var(--bg);
    width: calc(100vw - 80px);
    min-height: 60vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.legend>div {
    min-width: var(--w);
    width: var(--w);
    min-height: var(--h);
}