.container {
    height: 100vh;
    text-align: center;
    padding: 40px;
}

.container:before {
    content: ' ';
    background-image: var(--bg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 175px;
    height: 50px;
}

.container.close>label {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 175px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
}
.title {
    font-size: 30px;
    margin: 0 auto 40px;
}

.image {
    background-image: var(--bg);
    width: calc(100vw - 80px);
    min-height: 75vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.legend>div {
    min-width: var(--w);
    width: var(--w);
    min-height: var(--h);
}

.music {
    width: 20px;
    height: 20px;
    background-position: 0 0;
    cursor: pointer;
    background: var(--bg);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: 20px;
}

.music audio {
    display: none;
}

.music.play {
    background-position: 0 0;
}

.music.play:hover {
    background-position: 0 20px;
}

.music.pause {
    background-position: 0 20px;
}

.music.pause:hover {
    background-position: 0 0;
}