.container {
    padding: 60px;
    background: linear-gradient(116.41deg,#fff -67.02%,#63f3fc 23.01%,#f48d0c 155.41%,#fed775 311.85%);
    box-shadow: 4px 4px 20px rgba(0,0,0,.25);
}
.container>div {
    width: 1250px;
    margin: 0 auto;
}

.tile {
    position: relative;
    width: 340px;
    height: 420px !important;
    border-radius: 12px;
    display: inline-block !important;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba(0,0,0,.25);
}

@media (min-width: 1101px) {
    .textContainer {
        display: inline-block;
        vertical-align: middle;
        width: 35%;
    }
    .rightContainer {
        display: inline-block;
        vertical-align: middle;
        width: calc(65% - 50px);
        margin-left: 50px;
    }
}

.title {
    font-size: 38px;
    line-height: 57px;
    color: black;
    margin-bottom: 10px;
}
.title b {
    font-size: 48px;
    display: block;
}

.subTitle {
    font-size: 16px;
    line-height: 27px;
    color: black;
    margin-bottom: 20px;
}
@media (max-width: 1100px) {
    .container {
        padding: 40px 20px;
    }

    .container>div {
        width: initial;
    }

    .rightContainer>div {
        width: calc(100% + 20px);
    }

    .tile {
        width: calc(50vw - 30px);
        height: 200px !important;
        margin: 0 20px 20px 0;
    }

    .title {
        font-size: 30px;
    }

    .subTitle {
        font-size: 14px;
        text-align: justify;
    }
}







.tile span {

    width: 100%;
    height: 100%;
    background-image: var(--bg);
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    display: block;
    transition: .2s;
}

.tile:hover span {
    transform: scale(1.2);
}

.tile>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    background: linear-gradient(359.32deg,#000000c2 12.37%,transparent 65.77%);
}

.tile>div>div {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    font-weight: 700;
}

